body {
    background-color: #F3F2F0;
    text-align: center;
  }

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  /* position: fixed; */
  bottom: 5px;
  width: 100%;
  height: 50px;
  font-size: small;
  margin-top: 20px;
}

h1 {
  color: #C1B59C;
}

a, h4 {
  color: gray;
}

button a{
  color: white;
}

.card {
  display: inline-block;
  margin: 15px 10px;
  background-color: white;
}